<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.raphets.swiperefreshdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".FirstSwipeActivity">
        </activity>
        <activity android:name=".SecondSwipeActivity">
        </activity>
        <activity android:name=".ThirdSwipeActivity">
        </activity>
        <activity android:name=".FourthSwipeAcitivty">
        </activity>
    </application>

</manifest>